# Ambiente Virtual
.venv/
venv/
env/
ENV/

# Variáveis de Ambiente e Chaves de API
.env

# Pasta de Imagens/Assets (conforme solicitado)
imgs/

# Byte-compiled / Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Cache do Pygame e arquivos temporários
.pygame/
*.log

# Arquivos de editores e IDEs
.vscode/
.idea/
*.swp
*.swo
